table {
  border-collapse: collapse;
}

th, td {
  border: 1px solid #000;
  padding: 4px 8px 4px 8px;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #000;
    color: #fff;
  }
  
  th, td {
    border: 1px solid #fff;
  }
}
